/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body {
	width: 900px;
	margin: 0 auto;
}


nav {
	text-align: center;
	margin: 10px;
	display: flex;
	justify-content: left;
	width: 100%;
}
nav a {
	margin: 10px 25px;
	color: grey;
	text-decoration: none;
	width: 100%;
}

nav img {
	margin-left: 75px;
}

.indH1 {
	height: 300px;
	width: 400px;
	font-size: 70px;
	text-align: center;
	margin: 0 0 -75px 0;
}
div button {
	padding: 10px 30px;
	margin: 0 0 0 130px;
}
header img {
	margin: -300px 0 0 500px;
}
header {
	margin: 90px 0 20px 0;
	padding: 0 0 30px 0;
	display: inline-block;
	border-bottom: 2px solid grey;
}


.div1 {
	padding-bottom: 30px;
	display: flex;
}

.div2 div {
	margin: 5px;
}
.div2 {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}




.near-footer {
	border-top: 2px solid grey;
	margin: 20px 0;
}
section address {
	padding: 20px 0 0 0;
	display: break;
	margin: 20px 0 0 0;
	width: 200px;
} 
section address p {
	margin: 20px 0;
}
footer {
	margin: 40px 0 60px;
	text-align: center;
}






/*services page, style with classes or ids*/

.sHead {
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: column;
	padding: 30px 0;
}

.sHead h1 {
	font-size: 30px; 
}

.sBody {
	border-bottom: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

.sBody div {
	background: WhiteSmoke;
	width: 430px;
	border: 1px solid black;
	margin-bottom: 30px;
	padding: 20px;
	justify-content: left;
}
.sBody .left {
	margin-right: 35px;
}
.sBody h2 {
	margin-bottom: 20px;
}

.sBody p {
	margin-bottom: 20px;
}
.sBody button {
	margin: 0px;
	justify-content: left;

}

.sNearBottom {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.sNearBottom div {
	width: 420px;
}

.sNearBottom ul {
	margin: 20px;
	list-style-type: disc;
}
ul li {
	margin-bottom: 10px;
}
.sFooter {
	padding-top: 20px;
}